numpy==1.20.3
scipy==1.6.2
matplotlib==3.3.4
scikit-learn==0.24.2
tensorflow-gpu==2.5
six==1.16.0
notebook>=6.4.10
git+git://github.com/titu1994/tfdiffeq.git@ef646f85cbd0821749a03e7ab51e03e16798fab1#egg=tfdiffeq
